{{ partial "header.html" . }}

<div class="container">
  <div id="calendar">
  <h1>Upcoming Events</h1>

  <dl>
    {{ range $.Site.Data.calendar.upcoming }}
    <dt class="clearfix">{{ .day  }}</dt>
      {{ range .events }}
      <dd><span class="time">{{ .start }}</span>{{ .summary }}{{ if .location }} ({{ .location }}){{ end }}{{if .description }}. {{ .description | markdownify }}{{ end }}</dd>
      {{ end }}
    {{ end }}
  </dl> 
  </div>

  This information is also available as a <a href="https://goo.gl/6WtyLq">Google Calendar</a>.  Older events can be viewed in the <a href="/calendar/archive">archive</a>.

</div>

{{ partial "footer.html" . }}
